<p-toast></p-toast>
<div class="card">
    <h5>Advanced</h5>
    <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
            multiple="multiple" accept="image/*" maxFileSize="1000000">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
    </p-fileUpload>

</div>

<div class="grid p-fluid">
	<div class="col-12 md:col-12">
	  <div class="card">
		<!-- <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="250" [preview]="true"></p-image> -->
		<form [formGroup]="formulario" (ngSubmit)="adicionarProduto()">
		  <!-- <h5>Nome</h5> -->

		  <input #Image type="file" (change)="handleFileInput($event.target.files)"/>
			<img width="100%" *ngIf="imageUrl" [src]="imageUrl" class="image">
		  <span class="p-float-label">
			<br/>
			<input id="nome-input" type="text" pInputText formControlName="nome">
			<label for="nome-input">Nome</label>
		  </span>
		  <div *ngIf="formulario.get('nome').invalid && formulario.get('nome').dirty" class="p-error">
			Nome é obrigatório e precisa ter pelo menos 3 caracteres.
		  </div>
		  <br/>
		  <!-- <h5>Descrição</h5> -->
		  <span class="p-float-label">
			<input id="descricao-input" type="text" pInputText formControlName="descricao">
			<label for="descricao-input">Descrição</label>
		  </span>
		  <br/>
  
		  <!-- <h5>Objetivo</h5> -->
		  <textarea rows="5" cols="30" placeholder="Objetivo" pInputTextarea formControlName="objetivo"></textarea>
		  <br/>
		  <br/>
		  <!-- <h5>Preço</h5> -->
		  <span class="p-float-label">
			<input id="preco-input" type="number" pInputText formControlName="preco">
			<label for="preco-input">Preço</label>
		  </span>
		  <br/>
		  <div *ngIf="formulario.get('preco').invalid && formulario.get('preco').dirty" class="p-error">
			Preço é obrigatório e precisa ser um número válido.
		  </div>
		  <br/>
  
		  <button pButton pRipple label="Voltar" icon="pi pi-arrow-left" class="p-button-success mr-2"></button>
		  <button pButton pRipple label="Novo" type="submit" icon="pi pi-plus" class="p-button-success mr-2"></button>
		</form>
	  </div>
	</div>
  </div>